<!DOCTYPE html>
<html>
<head>
  <title>Soccerview</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); </style>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
  <img id="field" src="/assets/field.png" />

  <% for(let player of players) { %>
  <div style="left: <%= player.xPos %>px;top: <%= player.yPos %>px;" id="<%= player.name %>" class="player draggable">
      <div class="number"><%= player.shirtNumber %></div>
      <h1><%= player.name %></h1>
  </div>
  <% } %>

  <img style="left: 930px; top: 440px;" id="ball" class="draggable" src="/assets/ball.png" />
  
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
  <script src="./scripts/script.js"></script>
</body>
</html>
